// Bemify Documentation: https://franzheidl.github.io/bemify/
@import 'bemify';

@import './_variables.scss';

// Media Queries
@mixin lg-mobile {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: 1023px) {
    @content;
  }
}

@mixin med-desktop {
  @media (min-width: 1439px) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: 1899px) {
    @content;
  }
}

@mixin lg-tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

// Helpers
@mixin set-size($height, $width) {
  height: $height;
  width: $width;
}

// Style

@mixin heading-1-font {
  font-size: $heading-1-mobile;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.8;
  color: $black;

  margin: 0;

  @include tablet {
    font-size: $heading-1-tablet;
  }

  @include sm-desktop {
    font-size: $heading-1-sm-desktop;
  }

  @include med-desktop {
    font-size: $heading-1-med-desktop;
  }
}

@mixin subheading-font {
  font-size: $subheading-mobile;
  letter-spacing: 1px;
  line-height: 1.8;
  color: $black;

  margin: 0;

  @include tablet {
    font-size: $subheading-tablet;
  }

  @include sm-desktop {
    font-size: $subheading-sm-desktop;
  }

  @include med-desktop {
    font-size: $subheading-med-desktop;
  }
}

@mixin title-font {
  font-size: $title-mobile;
  letter-spacing: 2px;
  line-height: 1.8;
  color: $black;

  margin: 0;

  @include tablet {
    font-size: $title-tablet;
  }

  @include sm-desktop {
    font-size: $title-sm-desktop;
  }

  @include med-desktop {
    font-size: $title-med-desktop;
  }
}

@mixin body-font {
  font-size: $body-mobile;
  color: $black;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;

  @include tablet {
    font-size: $body-tablet;
  }

  @include sm-desktop {
    font-size: $body-sm-desktop;
  }

  @include med-desktop {
    font-size: $body-med-desktop;
  }
}

@mixin homepage-body-font {
  font-size: $homepage-body-mobile;
  letter-spacing: 1px;
  line-height: 1.8;
  color: $black;

  margin: 0;

  @include tablet {
    font-size: $homepage-body-tablet;
  }

  @include sm-desktop {
    font-size: $homepage-body-sm-desktop;
  }

  @include med-desktop {
    font-size: $homepage-body-med-desktop;
  }
}

@mixin call-to-action-button {
  display: block;

  @include body-font;
  letter-spacing: 2px;
  color: $page-background-colour;
  text-align: center;
  text-decoration: none;

  background-color: $black;
  border: 2px solid $black;

  padding: 12px 24px;

  &:hover,
  &:active {
    color: $black;
    background-color: transparent;
    text-decoration: none;

    cursor: pointer;
  }

  &:focus {
    outline: 2px dotted $focus-outline;
    outline-offset: -6px;
  }
}

@mixin call-to-action-link {
  display: block;

  @include body-font;
  color: $black;
  font-weight: 700;

  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  width: fit-content;
  padding: 3px 6px;
  transform: translateX(-6px);

  &:hover {
    text-decoration-style: dotted;

    cursor: pointer;
  }

  &:focus {
    background-color: $white;
    outline: 2px solid transparent;

    text-decoration-style: dotted;
  }
}

@mixin call-to-action-link-button {
  display: block;

  @include body-font;
  color: $black;
  font-weight: 700;
  letter-spacing: 1px;

  width: fit-content;
  padding: 12px 24px;

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: $black;
    cursor: pointer;
  }

  &:focus {
    background-color: $white;
    outline: 2px solid transparent;

    text-decoration-color: $black;
  }

  @include state('active') {
    text-decoration-style: solid;
    text-decoration-color: $black;

    &:hover {
      text-decoration-style: dotted;
    }
  }
}
