@import './_mixins.scss';
@import './_variables.scss';

@include block('projects') {
  @include element('content') {
    min-height: calc(100vh - #{$site-header-height-mobile});
    padding: 0 $side-padding-mobile;
    padding-top: $site-header-height-mobile;

    @include tablet {
      min-height: calc(
        100vh - #{$site-header-height-tablet}
      );
      padding-top: $site-header-height-tablet;
    }

    @include sm-desktop {
      max-width: $max-width-desktop;
      margin: 0 auto;
    }
  }

  @include element('title') {
    @include subheading-font;
    margin-bottom: 16px;
  }

  @include element('filter-container') {
    @include sm-desktop {
      width: max-content;
      padding: 8px 24px 22px;
      margin-bottom: 24px;
    }
  }

  @include element('filter-title') {
    font-size: 16px;
    margin-bottom: 16px;
    color: $light-grey;
  }

  @include element('filter-buttons') {
    display: flex;
    margin-bottom: 40px;

    @include sm-desktop {
      margin: 0;
    }
  }

  @include element('filter-button') {
    @include cta-button;

    margin: 0 16px 40px 0;

    @include state('selected') {
      color: $black;
      background-color: transparent;

      &:focus,
      &:focus-visible {
        outline: 2px dotted $black;
      }
    }
  }
}

@include block('project-item') {
  margin-bottom: 24vh;

  @include sm-desktop {
    margin-bottom: 33vh;

    &:nth-of-type(2n) {
      .project-item__container {
        flex-flow: row;
      }

      .project-item__content {
        padding-left: 56px;
        margin: 0 0 0 32px;
      }
    }
  }

  @include element('container') {
    @include sm-desktop {
      display: flex;
      flex-flow: row-reverse;

      align-items: flex-start;
      align-items: center;

      padding: 24px;
    }
  }

  @include element('content') {
    padding: 6vh 16px 24px 16px;

    @include sm-desktop {
      flex: 1 0 50%;
      padding-top: 0;
      padding-right: 56px;

      display: flex;
      flex-flow: column;
      justify-content: flex-end;

      margin: 0 32px 0 0;
    }
  }

  @include element('image-wrapper') {
    @include sm-desktop {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  @include element('image') {
    box-shadow: $shadow;

    @include modifier('stitched-ar') {
      box-shadow: none;
      filter: drop-shadow($drop-shadow);
    }
  }

  @include element('title') {
    @include subheading-font;
    margin-bottom: 16px;
  }

  @include element('technologies-subtitle') {
    @include body-font;
    color: $light-grey;
    margin: 20px 0 0 0;

    @include sm-desktop {
      margin: 0 0 6px 0;
    }
  }

  @include element('technologies') {
    display: flex;
    flex-flow: wrap;
    margin: 8px 0;

    @include sm-desktop {
      margin-bottom: 0;
    }
  }

  @include element('technology') {
    @include body-font;
    text-align: left;

    padding-bottom: 4px;

    &:after {
      content: '/';
      display: inline;
      padding: 0 16px;
    }

    &:last-child {
      border: none;

      &::after {
        display: none;
      }
    }
  }

  @include element('excerpt') {
    @include body-font;

    margin: 32px 0;
  }

  @include element('see-more') {
    @include cta-link;

    @include sm-desktop {
      display: none;
    }

    @include modifier('desktop') {
      display: none;

      @include sm-desktop {
        display: block;
        margin-top: 32px;
        transform: translateX(0);
      }
    }
  }
}
