// Bemify Documentation: https://franzheidl.github.io/bemify/
@import 'bemify';
@import './_variables.scss';

// Media Queries
@mixin lg-mobile {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 415px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: 1023px) {
    @content;
  }
}

@mixin med-desktop {
  @media (min-width: 1439px) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: 2559px) {
    @content;
  }
}

@mixin lg-tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

// Helpers
@mixin set-size($height, $width) {
  height: $height;
  width: $width;
}

// Style

@mixin heading-1-font {
  font-size: $heading-1-mobile;
  color: $black;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: 0;

  @include tablet {
    font-size: $heading-1-tablet;
  }

  @include sm-desktop {
    font-size: $heading-1-sm-desktop;
  }

  @include med-desktop {
    font-size: $heading-1-med-desktop;
  }
}

@mixin subheading-font {
  font-size: $subheading-mobile;
  color: $black;

  margin: 0;

  @include tablet {
    font-size: $subheading-tablet;
  }

  @include sm-desktop {
    font-size: $subheading-sm-desktop;
  }

  @include med-desktop {
    font-size: $subheading-med-desktop;
  }
}

@mixin body-font {
  font-size: $body-mobile;
  color: $light-black;
  font-weight: 400;
  margin: 0;

  @include tablet {
    font-size: $body-tablet;
  }

  @include sm-desktop {
    font-size: $body-sm-desktop;
  }

  @include med-desktop {
    font-size: $body-med-desktop;
  }
}

@mixin cta-link {
  @include body-font;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: $black;
  border: 2px solid $black;

  width: max-content;
  min-width: 80px;

  padding: 12px 24px;

  a {
    color: $page-background-color;
  }

  &:hover {
    background-color: transparent;
    cursor: pointer;

    a {
      color: $black;
    }
  }
}
