// Font sizes
$body-mobile: 18px;
$body-tablet: 18px;
$body-sm-desktop: 18px;
$body-med-desktop: 20px;

$heading-1-mobile: 30px;
$heading-1-tablet: 30px;
$heading-1-sm-desktop: 30px;
$heading-1-med-desktop: 48px;

$subheading-mobile: 20px;
$subheading-tablet: 20px;
$subheading-sm-desktop: 20px;
$subheading-med-desktop: 24px;

$max-width-desktop: 1150px;
$max-width-content-desktop: 710px;
$side-padding-mobile: 16px;

$site-header-height-mobile: 74px;

$light-grey: #9b9999;
$light-black: #404040;
$white: white;
$black: black;
$link-underline: black;
$hover-background: #f7f7f7;
$hover-outline: #cccccc;
$shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);

// $hover-purple: #4e57ef;
// $hover-green: #7caa5e;
// $hover-purple: #3f51b5;
// $hover-purple: #A2D7FF;
// $hover-green: #66e2d5;

// hover transition
// transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;

// Background colour
$page-background-color: #f9f8ef;
// $page-background-color: #d1e3dc;
// #dbdee4;
// #FAEDCA;
// #d1e3dc;
// #d1e3dc;
// #D1D7E5;
// #f9f8ef;
