@import './_mixins.scss';
@import './_variables.scss';

@include block('about') {
  padding-bottom: 24px;
  margin-bottom: 64px;

  @include element('content') {
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: $site-header-height-mobile $side-padding-mobile 0
      $side-padding-mobile;

    @include tablet {
      min-height: 80vh;
      max-width: $max-width-content-desktop;
      padding-top: calc(#{$site-header-height-tablet} + 56px);
      padding-left: 0;
      flex-flow: row;

      margin: 0 auto;
    }
  }

  @include element('text-container') {
    height: max-content;

    padding: 24px;

    @include sm-desktop {
      padding: 0;
    }
  }

  @include element('header') {
    @include subheading-font;
    margin: 32px 0 24px;

    @include tablet {
      margin-top: 0;
    }
  }

  @include element('text') {
    @include body-font;
    margin-bottom: 24px;

    @include tablet {
      padding-right: 64px;
    }
  }

  @include element('links') {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;

    @include tablet {
      flex-flow: row;
    }
  }

  @include element('link') {
    @include cta-button;
    overflow-wrap: break-word;

    &:last-child {
      margin-bottom: 16px;
    }

    @include tablet {
      &:last-child {
        margin: 0 16px 0;
      }
    }
  }
}
