@import "./Variables.scss";

.about {
  .about__content {
    min-height: 100vh;
    padding: 0 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 32px;
  }

  .about__text-container {
    background-color: $white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
    padding: 24px;
    height: max-content;
  }

  .about__header {
    font-size: 27px;
    margin: 32px 0 24px;
  }

  .about__text {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .about__links {
    display: flex;
  }

  .about__link {
    position: relative;
    width: max-content;
    min-width: 80px;
    border: 1px solid $light-black;
    padding: 4px 16px;
    margin-right: 8px;

    font-size: 16px;
    color: $black;
    text-align: center;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: $white;
    }

    &:hover {
      cursor: pointer;

      &:after {
        z-index: -1;
        width: 100%;
        background-color: $hover-background;
      }
    }
  }

  .about__profile-image {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    .about__content {
      max-width: $max-width-desktop;
      margin: 0 auto;

      flex-flow: row;
    }

    .about__header {
      margin-top: 0;
    }
  }
}
