@import './_mixins.scss';
@import './_variables.scss';

@include block('about') {
  @include element('content') {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 0 16px;
    padding-top: calc(74px + 16px);
    margin-bottom: 32px;

    @include tablet {
      max-width: $max-width-desktop;
      margin: 0 auto;

      flex-flow: row;
    }
  }

  @include element('text-container') {
    height: max-content;
    background-color: $white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);

    padding: 24px;
  }

  @include element('header') {
    font-size: 27px;

    
    margin: 32px 0 24px;

    @include tablet {
      margin-top: 0;
    }
  }

  @include element('text') {
    font-size: 14px;
    margin-bottom: 24px;
  }

  @include element('links') {
    display: flex;
  }

  @include element('link') {
    position: relative;
    width: max-content;
    min-width: 80px;
    border: 1px solid $light-black;
    padding: 4px 16px;
    margin-right: 8px;

    font-size: 16px;
    color: $black;
    text-align: center;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: $white;
    }

    &:hover {
      cursor: pointer;

      &:after {
        z-index: -1;
        width: 100%;
        background-color: $hover-background;
      }
    }
  }

  @include element('profile-image') {
    display: none;
  }
}
