@import './_mixins.scss';
@import './_variables.scss';

@include block('home') {
  @include element('content') {
    height: calc(100vh - #{$site-header-height-mobile});
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 $side-padding-mobile;

    @include sm-desktop {
      max-width: $max-width-desktop;
      align-content: center;

      margin: 0 auto 120px auto;
    }
  }

  @include element('text') {
    text-align: left;
    padding: 24px;

    transform: translateY(-$site-header-height-mobile);

    font-size: 18px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 16px 0;
  }

  @include element('image') {
    width: 70%;
    margin-top: 16px;

    @include sm-desktop {
      display: none;
    }

    @include modifier('desktop') {
      display: none;

      @include sm-desktop {
        display: block;
        width: 68%;
        margin-left: -48px;
      }
    }
  }

  @include element('currently-text') {
    margin: 32px 0;

    @include sm-desktop {
      margin-top: 56px;
    }
  }

  @include element('projects-link') {
    @include cta-button;

    margin: 16px auto 24px auto;

    @include sm-desktop {
      margin-top: 56px;
    }
  }
}
