.home {
  height: 100vh;
}

.home__content {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
}

.home__text {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 1em;
}

.home__text span {
  box-shadow: inset 0 -8px 0 #ffddde;
}

.home__image {
  width: 80%;
  margin-bottom: 3em;
}
