@import './_mixins.scss';
@import './_variables.scss';

@include block('home') {
  @include element('content') {
    height: calc(100vh - #{$site-header-height-mobile});

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    padding: 0 $side-padding-mobile;

    @include tablet {
      height: calc(100vh - #{$site-header-height-tablet});
    }

    @include sm-desktop {
      max-width: $max-width-content-desktop;

      padding: 0 64px 0 0;
      margin: 0 auto 120px auto;
    }
  }

  @include element('text') {
    @include homepage-body-font;
    text-align: left;

    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 24px;
    margin: 16px 0;

    transform: translateY(-$site-header-height-mobile);

    @include tablet {
      transform: translateY(-$site-header-height-tablet);
    }

    @include sm-desktop {
      padding: 0;
    }
  }

  @include element('currently-text') {
    margin: 32px 0;

    @include sm-desktop {
      margin-top: 56px;
    }
  }

  @include element('projects-link') {
    @include cta-button;
    margin: 16px auto 24px auto;

    @include sm-desktop {
      margin-top: 56px;
    }
  }
}
