* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Unica One", cursive;
    text-transform: uppercase;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}
