* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
}

img {
  width: 100%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

#root {
  padding-top: 60px;
}
