@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Inconsolata", monospace;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

#root::before {
  content: "";
  height: $site-header-height-mobile;
  display: block;
}
