.nav {
  transform: translateY(100vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: -1;

  display: flex;
  flex-flow: column;
  justify-content: center;

  .nav__wrapper {
    text-align: center;
    margin-bottom: 3em;

    .nav__link {
      font-size: 1.7em;
      line-height: 2.3;
      display: block;
    }
  }

  .socials__wrapper {
    display: flex;
    justify-content: center;

    .socials__link {
      font-size: 1.2em;
    }

    .socials__link--envelope {
      margin: 0 1em;
    }

    .socials__link--codewars {
      width: 5vw;
      margin-top: 0.4vh;
    }
  }
}

.nav--open {
  transform: translateY(0) !important;
}
