@import "./Variables.scss";

.site-header {
  width: 100%;
  height: $site-header-height-mobile;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  background-color: white;
  z-index: 1;

  .site-header__logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: $side-padding-mobile;
  }

  .site-header__logo {
    font-size: 1em;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $link-underline;
    }
  }

  .site-header__nav {
    display: none;
  }

  .site-header__mobile-menu-button {
    display: flex;
    font-size: 1em;

    border: 0;
    border-bottom: 1px solid transparent;
    margin-right: $side-padding-mobile;

    &:hover {
      border-color: $link-underline;
      cursor: pointer;
    }
  }

  .site-header__mobile-menu-bar::before {
    content: "//";
    display: block;
    margin-left: 8px;
  }

  &.site-header--display-mobile-nav {
    .site-header__nav {
      display: flex;
      width: 100%;
      height: calc(100vh - #{$site-header-height-mobile});
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .site-header__mobile-menu-bar::before {
      content: "X";
    }
  }
}

.site-menu {
  .site-menu__nav-items {
    text-align: center;
    text-transform: uppercase;

    margin-top: -20%;
  }

  .site-menu__nav-item {
    font-size: 1.5em;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 600px) {
  .site-header {
    .site-header__mobile-menu-button {
      display: none;
    }

    .site-header__nav {
      display: block;
      height: auto;
      width: max-content;
      border: 0;
      margin-right: 24px;
    }
  }

  .site-menu {
    .site-menu__nav-items {
      display: flex;
      margin: 0;
    }

    .site-menu__nav-item {
      font-size: 1em;
      margin: 0;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: $link-underline;
      }

      &:first-child {
        margin-right: 16px;
      }

      &--github {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .site-header {
    background-color: transparent;
  }
}
