@import './Variables.scss';

.site-header {
  width: 100%;
  // height: $site-header-height-mobile;

  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  // align-items: center;
  // background-color: white;
  background-color: paleturquoise;

  position: fixed;
  top: 0;
  z-index: 1;

  padding-top: 24px;

  .site-header__logo-wrapper {
    height: 100%;
    display: flex;
    // align-items: center;
    flex-grow: 1;
    margin-left: $side-padding-mobile;
  }

  .site-header__logo {
    display: flex;
    flex-flow: column;

    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $black;
    }
  }

  .site-header__title {
    font-size: 24px;
    font-weight: 400;
  }

  .site-header__description {
    font-size: 18px;
  }

  .site-header__nav {
    display: none;
  }

  .site-header__mobile-menu-button {
    // display: flex;
    font-size: 16px;

    border: 0;
    border-bottom: 1px solid transparent;

    margin-right: $side-padding-mobile;

    &:hover {
      border-color: $link-underline;
      cursor: pointer;
    }
  }

  .site-header__mobile-menu-bar::before {
    content: '//';
    display: inline;
    margin-left: 8px;
  }

  &.site-header--display-mobile-nav {
    .site-header__nav {
      display: flex;
      width: 100%;
      height: calc(100vh - #{$site-header-height-mobile});
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .site-header__mobile-menu-bar::before {
      content: 'X';
    }
  }
}

.site-menu {
  .site-menu__nav-items {
    text-align: center;
    text-transform: uppercase;

    margin-top: -20%;
  }

  .site-menu__nav-socials {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    img {
      width: 28px;
      margin-right: 16px;
    }
  }

  .site-menu__nav-item {
    font-size: 1.5em;
    margin-bottom: 24px;

    &:last-child {
      img {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .site-header {
    .site-header__mobile-menu-button {
      display: none;
    }

    .site-header__nav {
      display: block;
      height: auto;
      width: max-content;
      border: 0;
      margin-right: 24px;
    }
  }

  .site-menu {
    .site-menu__nav-items {
      display: flex;
      margin: 0;
    }

    .site-menu__nav-socials {
      display: none;
    }

    .site-menu__nav-item {
      font-size: 1em;
      margin: 0;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: $black;
      }

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .site-header {
    background-color: transparent;
  }
}
