@import './_mixins.scss';
@import './_variables.scss';

@include block('site-header') {
  width: 100%;

  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  align-items: center;
  background-color: $page-background-color;

  position: fixed;
  top: 0;
  z-index: 1;

  padding-top: 24px;
  padding-bottom: 16px;

  @include med-desktop {
    background-color: transparent;
  }

  @include modifier('display-mobile-nav') {
    .site-header__nav {
      display: flex;
      width: 100%;
      height: calc(100vh - #{$site-header-height-mobile});
      justify-content: center;
      align-items: center;
      background-color: $page-background-color;
    }

    .site-header__mobile-menu-bar::before {
      content: 'X';
    }
  }

  @include element('logo-wrapper') {
    height: 100%;
    display: flex;
    flex-grow: 1;
    margin-left: $side-padding-mobile;
  }

  @include element('logo') {
    display: flex;
    flex-flow: column;

    border-bottom: 1px solid transparent;

    &:hover {
      border-color: $black;
    }
  }

  @include element('title') {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.4;
  }

  @include element('description') {
    font-size: 18px;
    display: none;
  }

  @include element('nav') {
    display: none;

    @include tablet {
      display: block;
      height: auto;
      width: max-content;
      border: 0;
      margin-right: 24px;
    }
  }

  @include element('mobile-menu-button') {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 2px;

    border: 0;
    border-bottom: 1px solid transparent;

    margin-right: $side-padding-mobile;

    &:hover {
      border-color: $link-underline;
      cursor: pointer;
    }

    @include tablet {
      display: none;
    }
  }

  @include element('mobile-menu-bar::before') {
    content: '☰';
    display: inline;
    margin-left: 8px;
  }
}

@include block('site-menu') {
  @include element('nav-items') {
    text-align: center;
    text-transform: uppercase;

    margin-top: -20%;

    @include tablet {
      display: flex;
      margin: 0;
    }
  }

  @include element('nav-socials') {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    img {
      width: 28px;
      margin-right: 16px;
    }

    @include tablet {
      display: none;
    }
  }

  @include element('nav-item') {
    font-size: 1.5em;
    margin-bottom: 24px;

    &:last-child {
      img {
        margin-right: 0;
      }
    }

    @include tablet {
      font-size: 1em;
      margin: 0;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: $black;
      }

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}
