@import './_mixins.scss';
@import './_variables.scss';

@include block('projects') {
  @include element('content') {
    min-height: calc(100vh - #{$site-header-height-mobile});
    padding: 0 $side-padding-mobile;
    padding-top: $site-header-height-mobile;

    @include tablet {
      max-width: $max-width-desktop;
      margin: 0 auto;
    }
  }

  @include element('title') {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 16px;

    @include tablet {
      font-size: 27px;
    }
  }

  @include element('filter-container') {
    @include tablet {
      background-color: $white;
      box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
      width: max-content;
      padding: 8px 24px 22px;
      margin-bottom: 24px;
    }
  }

  @include element('filter-title') {
    font-size: 16px;
    margin-bottom: 16px;
    color: $light-grey;
  }

  @include element('filter-buttons') {
    margin-bottom: 40px;

    @include tablet {
      margin: 0;
    }
  }

  @include element('filter-button') {
    min-width: 80px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid $light-black;
    padding: 4px 16px;
    margin-right: 8px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: $white;
    }

    &:hover {
      cursor: pointer;

      &:after {
        z-index: -1;
        width: 100%;
        background-color: $hover-background;
      }
    }

    @include modifier('is-selected') {
      color: $white;
      background-color: $black;

      &:hover {
        color: $white;
        background-color: $black;
      }
    }
  }
}

@include block('project-item') {
  margin-bottom: 56px;
  background-color: $white;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);

  @include tablet {
    margin-bottom: 96px;

    &:nth-of-type(2) {
      .project-item__container {
        flex-flow: row;
      }

      .project-item__content {
        margin: 0 0 0 32px;
      }
    }
  }

  @include element('container') {
    @include tablet {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;

      padding: 24px;

      &:hover {
        background-color: $hover-background;
        outline: 1px solid $hover-outline;
      }
    }
  }

  @include element('image') {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  }

  @include element('content') {
    padding: 16px 24px;

    @include tablet {
      flex: 1 0 40%;

      display: flex;
      flex-flow: column;
      justify-content: flex-end;

      margin: 0 32px 0 0;
    }
  }

  @include element('title') {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 16px 0;

    @include tablet {
      font-size: 25px;
    }
  }

  @include element('technologies-subtitle') {
    font-size: 16px;
    color: $light-grey;
    margin: 20px 0 12px;
  }

  @include element('technologies') {
    display: flex;
    flex-flow: wrap;
    margin: 8px 0;

    @include tablet {
      margin-bottom: 0;
    }
  }

  @include element('technology') {
    font-size: 16px;
    color: $light-black;

    text-align: left;
    padding-bottom: 4px;

    &::after {
      content: '/';
      display: inline;
      padding: 0 8px;
    }

    &:last-child {
      border: none;

      &::after {
        content: '';
      }
    }
  }

  @include element('excerpt') {
    font-size: 16px;
    margin: 16px 0;
  }

  @include element('see-more') {
    display: block;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;

    padding: 16px 0 0 0;
    margin: 0 auto;
    width: max-content;

    @include sm-desktop {
      margin: 0;
    }
  }
}
