@import './_mixins.scss';
@import './_variables.scss';

@include block('projects') {
  @include element('content') {
    min-height: calc(100vh - #{$site-header-height-mobile});
    padding: 0 $side-padding-mobile;
    padding-top: $site-header-height-mobile;

    @include tablet {
      max-width: $max-width-desktop;
      margin: 0 auto;
    }
  }

  @include element('title') {
    @include subheading-font;
    margin-bottom: 16px;
  }

  @include element('filter-container') {
    @include tablet {
      width: max-content;
      padding: 8px 24px 22px;
      margin-bottom: 24px;
    }
  }

  @include element('filter-title') {
    font-size: 16px;
    margin-bottom: 16px;
    color: $light-grey;
  }

  @include element('filter-buttons') {
    margin-bottom: 40px;

    @include tablet {
      margin: 0;
    }
  }

  @include element('filter-button') {
    @include body-font;

    min-width: 80px;

    text-transform: uppercase;
    border: 1px solid $light-black;
    padding: 4px 16px;
    margin-right: 8px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    @include modifier('is-selected') {
      color: $white;
      background-color: $black;

      &:hover {
        color: $white;
        background-color: $black;
      }
    }
  }
}

@include block('project-item') {
  margin-bottom: 56px;

  @include tablet {
    margin-bottom: 96px;

    &:nth-of-type(2) {
      .project-item__container {
        flex-flow: row;
      }

      .project-item__content {
        margin: 0 0 0 32px;
      }
    }
  }

  @include element('container') {
    @include tablet {
      display: flex;
      flex-flow: row-reverse;
      align-items: center;

      padding: 24px;
    }
  }

  @include element('image') {
    box-shadow: $shadow;
  }

  @include element('content') {
    padding: 16px 24px;

    @include tablet {
      flex: 1 0 50%;

      display: flex;
      flex-flow: column;
      justify-content: flex-end;

      margin: 0 32px 0 0;
    }
  }

  @include element('title') {
    @include subheading-font;

    text-transform: uppercase;
    margin-bottom: 16px;
  }

  @include element('technologies-subtitle') {
    @include body-font;
    color: $light-grey;
    margin: 20px 0 12px;
  }

  @include element('technologies') {
    display: flex;
    flex-flow: wrap;
    margin: 8px 0;

    @include tablet {
      margin-bottom: 0;
    }
  }

  @include element('technology') {
    @include body-font;
    color: $light-black;
    text-align: left;

    padding-bottom: 4px;

    &::after {
      content: '/';
      display: inline;
      padding: 0 8px;
    }

    &:last-child {
      border: none;

      &::after {
        content: '';
      }
    }
  }

  @include element('excerpt') {
    @include body-font;
    margin: 16px 0;
  }

  @include element('see-more') {
    @include cta-link;
    margin: 0 auto;

    @include sm-desktop {
      margin: 0;
    }
  }
}
