.project__section {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;

  .project__section__container {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .project__section__info {
      padding: 0 1em;
      margin-bottom: 3vh;
      font-size: 0.8em;
      text-align: center;
    }
  }
}

.button__wrapper {
  display: flex;

  .button {
    text-transform: uppercase;
    padding: 0 0.5em 0.3em 0;
    box-shadow: 3px 3px black;
  }

  .button--back {
    margin-right: 10vw;
  }
}
