@import './_mixins.scss';
@import './_variables.scss';

@include block('project') {
  @include element('content') {
    padding: $side-padding-mobile;

    @include tablet {
      padding: 24px;
      margin: 0 auto;
    }

    @include sm-desktop {
      max-width: $max-width-desktop;
    }
  }

  @include element('back') {
    @include cta-link;
    margin: 0 auto 56px auto;

    @include sm-desktop {
      display: none;
    }

    @include modifier('desktop') {
      display: none;

      @include sm-desktop {
        display: flex;
        margin-left: 40px;
        margin-bottom: 0;
      }
    }
  }

  @include element('summary-container') {
    margin-bottom: 16px;

    @include tablet {
      text-align: center;
      margin-bottom: 32px;
    }

    @include med-desktop {
      margin-bottom: 56px;
    }
  }

  @include element('title') {
    @include heading-1-font;
    padding: 16px 0 24px;

    @include med-desktop {
      margin-top: 24px;
    }
  }

  @include element('job-type-subtitle') {
    @include subheading-font;
    margin-bottom: 8px;
  }

  @include element('job-year') {
    @include subheading-font;
    margin-bottom: 16px;
  }

  @include element('technologies') {
    display: flex;
    flex-flow: wrap;
    padding-left: 0;
    margin-bottom: 16px;

    @include tablet {
      padding-left: 16px;
      justify-content: center;
      padding-left: 0;
    }
  }

  @include element('technology') {
    @include body-font;
    color: $light-grey;

    &::after {
      display: inline;
      content: '/';
      margin: 0 12px;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }

  @include element('info-container') {
    @include tablet {
      display: flex;
      margin-bottom: 32px;
    }

    @include med-desktop {
      margin-bottom: 56px;
    }
  }

  @include element('info') {
    @include body-font;

    padding-left: 0;
    margin-bottom: 32px;

    @include tablet {
      margin: 8px 40px 0;

      flex: 0 0 32%;
    }
  }

  @include element('key-features-subtitle') {
    @include subheading-font;

    margin-bottom: 16px;
  }

  @include element('key-features') {
    @include body-font;

    padding-left: 16px;
    margin-bottom: 40px;

    list-style-type: square;

    @include tablet {
      margin: 0;
    }
  }

  @include element('key-feature') {
    margin: 0 8px 16px 16px;

    @include tablet {
      margin-right: 0;
    }
  }

  @include element('image') {
    box-shadow: $shadow;
  }

  @include element('link') {
    @include cta-button;

    margin: 40px auto;
  }
}
