.projects {
  height: 100%;

  .projects__container {
    min-height: calc(100vh - 60px);
    padding: 0 1.7em;
  }

  .projects__title {
    padding-left: 1em;
    font-size: 17px;
    margin: 1em 0;
  }
  .projects__item-container {
    padding: 0 1em;
  }

  .project__item {
    padding-bottom: 1.5em;
  }

  .project__item-title {
    text-align: center;
    margin-top: 0.5em;
  }

  .project__item-title span {
    box-shadow: inset 0 -8px 0 #ffddde;
  }

  .project__item-image {
    width: 100%;
  }
}

.projects__filter {
  display: none;
  // font-family: "Open Sans", sans-serif;
  // text-transform: uppercase;
  // font-style: italic;
  // text-align: center;
  // font-weight: 600;
  // display: flex;
  // justify-content: center;
  // margin-bottom: 5vh;

  // .projects__filter__button {
  //   width: 3em;
  //   height: 1.6em;
  //   box-shadow: 3px 3px #72c5f9;
  //   margin: 0 5vw;
  // }
}

@media only screen and (min-width: 600px) {
  .projects {
    max-width: 1200px;
    margin: 0 auto;
  }

  .projects__item-container {

  }

  .project__item {
    width: 50%;
    padding: 1em;
  }

  .project__item-title {
    display: none;
  }

}
