@import './_mixins.scss';
@import './_variables.scss';

@include block('project') {
  @include element('content') {
    padding: 24px;

    @include tablet {
      margin: 0 auto;
    }

    @include med-desktop {
      max-width: $max-width-desktop;
    }
  }

  @include element('summary-container') {
    margin-bottom: 16px;

    @include tablet {
      text-align: center;
      margin-bottom: 32px;
    }

    @include med-desktop {
      margin-bottom: 56px;
    }
  }

  @include element('title') {
    font-size: 28px;
    padding: 16px 0 24px;
    text-transform: uppercase;

    @include med-desktop {
      font-size: 40px;
      margin-top: 24px;
    }
  }

  @include element('job-type-subtitle') {
    font-size: 18px;
    margin-bottom: 8px;
  }

  @include element('job-year') {
    margin-bottom: 16px;
  }

  @include element('technologies') {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 16px;
    padding-left: 16px;

    @include tablet {
      justify-content: center;
      padding-left: 0;
    }

    @include med-desktop {
      font-size: 14px;
    }
  }

  @include element('technology') {
    font-size: 16px;
    color: #9b9999;

    &::after {
      display: inline;
      content: '/';
      margin: 0 8px;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }

    @include tablet {
      font-size: 14px;
    }

    @include med-desktop {
      font-size: 14px;
    }
  }

  @include element('info-container') {
    @include tablet {
      display: flex;
      margin-bottom: 32px;
    }

    @include med-desktop {
      margin-bottom: 56px;
    }
  }

  @include element('info') {
    font-size: 16px;

    margin-bottom: 32px;
    padding-left: 16px;

    @include tablet {
      font-size: 14px;
      margin: 8px 40px 0;
      padding-left: 0;

      flex: 0 0 32%;
    }

    @include med-desktop {
      font-size: 17px;
    }
  }

  @include element('key-features-subtitle') {
    font-size: 18px;
    margin-bottom: 16px;

    @include med-desktop {
      font-size: 17px;
      font-weight: 600;
    }
  }

  @include element('key-features') {
    font-size: 16px;
    list-style-type: square;
    margin-bottom: 40px;
    padding-left: 16px;

    @include tablet {
      font-size: 14px;
      margin: 0;
    }

    @include med-desktop {
      font-size: 14px;
    }
  }

  @include element('key-feature') {
    margin: 0 8px 16px 16px;

    @include tablet {
      margin-right: 0;
    }
  }

  @include element('image') {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  }

  @include element('link') {
    width: max-content;
    min-width: 80px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $light-black;
    padding: 4px 16px;
    margin: 40px auto;

    &:hover {
      background-color: $black;
      cursor: pointer;

      a {
        color: $white;
      }
    }
  }
}
