$site-header-height-mobile:60px;
$side-padding-mobile: 16px;
$max-width-desktop: 1150px;

$light-grey: #9b9999;
$light-black: #404040;
$white: white;
$black: black;
$link-underline: black;
$hover-background: #f7f7f7;
$hover-outline: #cccccc;

$hover-purple: #4e57ef;
// $hover-green: #7caa5e;
// $hover-purple: #3f51b5;
// $hover-purple: #A2D7FF;
// $hover-green: #66e2d5;

// hover transition
// transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;

// potential background colours
// #dbdee4; 
// #FAEDCA;
// #d1e3dc;
// #d1e3dc;
// #D9D7E5;
// #D1D7E5;
