$site-header-height-mobile: 60px;
$side-padding-mobile: 16px;
$max-width-desktop: 1150px;

$light-grey: #9b9999;
$light-black: #404040;
$white: white;
$black: black;
$link-underline: black;
$hover-background: #f7f7f7;
$hover-outline: #cccccc;

$green: #7caa5e;

