.header {
  display: flex;
  flex-flow: column;
  font-family: "Oswald", sans-serif;
  align-items: center;

  .header__title {
    font-size: 3em;
    text-transform: uppercase;
    margin: 3vh;
  }
}

.projects {
  display: flex;
  flex-flow: column;

  .projects__title {
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 2em;
    font-weight: 400;
    padding-top: 3vh;
    margin-bottom: 2vh;
  }
}
