.App {
  font-family: "Oswald", sans-serif;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;

  .header__title {
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1vh;
  }
}
