.nav {
  background-image: url(./images/nav-background.svg);
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  transform: translateX(-200vw);
  transition: transform 0.5s;

  .nav__wrapper {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;

    .nav__link {
      font-family: "Open Sans", sans-serif;
      font-size: 1.3em;
      font-weight: 800;
      line-height: 2em;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: black;
      display: block;
    }
  }

  .socials__wrapper {
    display: flex;
    justify-content: center;

    .socials__link {
      color: black;
      font-size: 1.2em;
    }

    .socials__link--envelope {
      margin: 0 11vw;
    }

    .socials__link--codewars {
      width: 5vw;
      margin-top: .4vh;
    }
  }
}

.nav--open {
  transform: translateX(0);
}
