.nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
  border-bottom: 3px solid black;
  
  .nav__item {
    width: 10vw;
    list-style: none;
    text-align: center;
    font-weight: 300;  
  }
}
