.project {
    margin-bottom: 1vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    .project__image {
        width: 40vw;
        margin-bottom: 1vh;
    }

    .project__title {
        font-size: 1em;
        font-weight: 200;
        margin-bottom: 2vh;
        text-transform: capitalize;
    }
}

