.project__section {
  font-family: "Open Sans", sans-serif;
  display: flex; 
  flex-flow: column;
  align-items: center;

  .project__section__container {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .project__section__info {
      padding: 0 1em;
      margin-bottom: 3vh;
      font-size: .8em;
      text-align: center;
    }

    .project__section__button {
      text-transform: uppercase;
      padding: 0 0.5em 0.3em 0;
      box-shadow: 3px 3px black;
    }
  }
}

.carousel {
  height: 45vh;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;

  .carousel__button {
    padding: 2vw;
  }

  .carousel__wrapper {
    text-align: center;
    margin: 0 10vw;

    .carousel__image {
      width: 40vw;
      box-shadow: 5px 5px #72c5f9;
      margin-bottom: 1vh;
    }

    .carousel__image__info {
      font-size: .8em;
      font-style: italic;

    }
  }
}
