.project {
    margin-bottom: 1vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    .project__image {
        width: 40vw;
        margin-bottom: 2vh;
    }

    .project__info {
        font-family: 'Open Sans', sans-serif;
        font-size: .6em;
        word-spacing: .5em;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: 2vh;
    }
}

